$globals: (
  'font-family-default': ('Outfit', sans-serif),

  'font-size-default': 16px,
  'font-size-small': 14px,
  'font-size-h1': 28px,
  'font-size-h2': 24px,
  'font-size-h3': 22px,
  'font-size-h4': 20px,
  'font-size-h5': 18px,
  'font-size-h6': 16px,

  'font-weight-regular': 400,
  'font-weight-semi-bold': 600,

  'line-height-default': 1.5em,
  'line-height-small': 1.2em,

  'color-light': #FFFFFF,
  'color-dark': #303735,
  'color-dark-rgb': (48, 55, 53),

  'transition-default': 200ms ease,
  'transition-fast': 100ms ease,
  'transition-slow': 400ms ease,

  'border-default': 1px solid,
  'border-radius-default': 1rem,
  'border-radius-small': 0.75rem,
  'border-radius-tiny': 0.5rem,

  'shadow-default': 0 0.25rem 1rem -0.125rem rgba(var(--color-dark-rgb), 0.3),
  'shadow-focus': 0 0 0 0.25rem,

  'icon-width-default': 20px,
  'icon-width-small': 18px,
  
  'max-width-default': 1620px,
  'max-width-component': 720px
);

$light: (
  'color-primary-300': #54e6c3,
  'color-primary-300-rgb': (84, 230, 195),
  'color-primary-400': #44DCB8,
  'color-background-300': #FFFFFF,
  'color-background-400': #EFF8F6,
  'color-border-400': #A4B7B2,
  'color-text-300': #A4B7B2,
  'color-text-400': #788B87,
  'color-text-500': #303735,
  'color-button-300': #D6F4ED,  
  'color-tooltip-background': #303735,
  'color-tooltip-text': #A4B7B2,
  'color-tooltip-border': #464E4C
);
  
$dark: (
  'color-primary-400': #4EC9AC,
  'color-background-400': #303735,
  'color-border-400': #464E4C,
  'color-text-300': #FFFFFF,
  'color-text-400': #A4B7B2,
  'color-text-500': #788B87,
  'color-tooltip-background': #EFF8F6,
  'color-tooltip-text': #788B87,
  'color-tooltip-border': #A4B7B2
);

$breakpoints: (
  'tiny': 480px,
  'small': 640px,
  'medium': 760px,
  'large': 992px,
  'giant': 1200px,
  'cut': 1620px
);