@use "@app/scss/utils";

.icon-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: utils.prop("color-button-300");
  color: utils.prop("color-primary-400");
  border-radius: utils.prop("border-radius-small");
  border: none;
  transition: utils.prop("transition-default");

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 0 utils.rem(2px) utils.prop("color-primary-400");
  }
}